h1{
    color: red;
    text-align: center;
}

/* id selector */
#one{
    color: green;
    line-height: 25px;
    word-spacing: 25px;
    text-transform: capitalize;
}

#two{
    color: yellow;
    line-height: 25px;
    word-spacing: 25px;
    text-transform: capitalize;
}

/* class selector */
.classselector{
    color: brown;
    line-height: 20px;
    text-indent: 50px;
    text-transform: uppercase;
}



/* Child */
#child > a{
    color: red;
}

/* descendent */

#desc a{
    color: green;
}

/* pseudo selector */

/* a:link{
    text-decoration: none;
    letter-spacing: 10px;
}
a:hover{
    color: green;
}
a:active{
    color: yellow;
    font-size: 40px;
}
a:visited{
    color: brown;
} */


/* target */

p:target{
    color: brown;
    text-transform: uppercase;
    line-height: 20px;
}

div:target{
    color: green;
    text-transform: uppercase;
    line-height: 20px;
}

/* border */
.borderone{
    border: 10px dotted yellow;
}

.bordertwo{
    border-bottom: 20px solid black;
}

.borderthree{
    /* border-style: dotted; */
    /* all */
    /* border-style: dotted solid; */
    /* T&B / L&R */
    border-style: solid dotted double;
    /* T / L&R / B */
    /* border-style: solid dashed double dotted; */
    /* T / R / B / L */
    
}

.borderfour{
    border-style: solid;
    border-color: red yellow green brown;
    border-width: 30px 50px 100px;
}

/* margin */

*{
    margin: 0px;
    padding: 0px;
}

.marginOne{
    margin: 50px 100px;
    border: 1px solid black;
}

.marginTwo{
    margin-top: 200px;
    border: 1px solid black;

}


/* padding */

.paddingOne{
    /* padding: 10px 200px; */
    border: 1px solid black;

    padding-top: 300px;

}


/* layout */
.inline{
    border: 2px solid red;
    width: 400px;
    display: inline-block;
}

.block{
    border: 2px solid green;
    width: 400px;
    display: inline-block;
}




/* Float */

.float_left img{
    width: 30%;
    border: 2px solid black;
    float: left;
}

.clear{
    clear: both;
}

.float_right img{
    width: 30%;
    float: right;
}

/* grid */

.gridOne div,.gridTwo div,.gridThree div,.gridFour div,.gridFive div,.gridSix div{
    padding: 30px;
    color: #FFFFFF;
    text-align: center;
}
.gridOne,.gridTwo,.gridThree,.gridFour,.gridFive,.gridSix{
    display: grid;
    grid-template-columns: auto auto auto;
}
.gridTwo{
    grid-column-gap: 40px;
}
.gridThree{
    grid-row-gap: 50px;
}
.gridFour{
    grid-gap: 40px;
    /* grid-column-gap: 40px; */
    /* grid-row-gap: 60px; */
}
.columnadd{
    grid-column-start: 1;
    grid-column-end: 4;
}
.rowadd{
    grid-row-start: 2;
    grid-row-end: 4;
    grid-column-start: 3;
}

/* position  */

.position_relative_parent{
    border: 2px solid black;
    width: 1000px;
    height: 500px;
}
.position_relative{
    border: 2px solid red;
    width: 600px;
    height: 300px;
    position: relative;
    top: 50px;
    left: 100px;
}
.position_absolute_parent{
    border: 2px solid brown;
    width: 1000px;
    height: 500px;
    position: relative;
}
.position_absolute{
    width: 600px;
    height: 300px;
    border: 2px solid green;
    position: absolute;
    top: 50px;
    left: 50px;
}
.fixed{
    position: fixed;
    top: 100px;
    right: 50px;
}


/* online fonts */

.online_font{
  font-family: "Playfair Display", serif;
  font-optical-sizing: auto;
  font-style: normal;
}

/* offline font */

@font-face {
    src: url(../fonts/Oswald/Oswald-VariableFont_wght.ttf);
    font-family: "Oswald";

}

.offline_font{
    font-family: "Oswald";
}

