@font-face {
    src: url(../font/PlayfairDisplay-VariableFont_wght.ttf);
    font-family: "playfair";
}
*{
    margin: 0px;
    padding: 0px;
    font-family: "playfair";
}
/* start nav */
.nav_logo{
    width: 240px;
    height: 80px;
    margin-top: 10px;
    margin-left: 80px;
}
.nav_item{
    float: right;
}

.nav_item li{
    display: inline-block;
    margin-top: 25px;
    margin-right: 60px;
}

.nav_item li a{
    text-decoration: none;
    color: black;
    font-size: 20px;
}
.nav_item li a:hover{
    color: #234981;
}

.get_started{
    background-color: #234981;
    color: #FFFFFF !important;
    display: inline-block;
    padding: 10px 20px;
    border-radius: 5px;
    border: 1px solid #234981;

}

.get_started:hover{
    background-color: #FFFFFF;
    color: #234981 !important;
    border: 1px solid #234981;
}

/* end nav */

/* start bunner */
.bunner_image{
    width: 100%;
}
.bunner{
    position: relative;
}
.bunner_text{
    position: absolute;
    top: 40%;
    left: 35%;
    color: #FFFFFF;
    text-align: center;
}

.bunner_text h1{
    font-size: 30px;
    margin-bottom: 10px;
}

.bunner_text p{
    font-size: 20px;
}

.bunner_text a{
    border: 1px solid #234981;
    background-color: #FFFFFF;
    color: #234981;
    padding: 15px 25px;
    text-decoration: none;
    display: inline-block;
    margin-top: 20px;
    border-radius: 5px;
}

.bunner_text a:hover{
    border: 1px solid #234981;
    background-color: #234981;
    color: #FFFFFF;
}

/* end bunner */


/* start popular destionation */
.popular{
    width: 80%;
    margin: auto;
    margin-top: 80px;
}
.popular_card{
    display: grid;
    grid-template-columns: auto auto auto;
    margin-top: 20px;
    grid-gap: 30px;
}
.popular_card img{
    width: 100%;
}
.popular_item{
    border: 1px solid #d7d7d7;
    padding: 5px;
    border-radius: 5px;
}

.popular_item h3{
    padding: 5px 15px;
}

.popular_item p{
    padding: 5px 15px;
}

.popular_item button{
    padding: 10px;
    float: right;
    background-color: #234981;
    color: #FFFFFF !important;
    border: 1px solid #234981;
    border-radius: 5px;
    margin-bottom: 10px;
}

.popular_item img:hover{
    transform: scale(1.2);
    transition-duration: .8s;
}
.popular_hover{
    overflow: hidden;
}

/* end popular destionation */

